{% extends '@bolt/_base/layout.html.twig' %}

{% block title %}{% endblock %}
{% block main %}
    <h1 class="admin__header--title"><i class="fas fa-fw fa-file-export"></i> Interface Exporter</h1>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="col">Content Archive</th>
                <th scope="col">Created On</th>
                <th scope="col"></th>
            </tr>
            {% for file in files %}
                <tr>
                    <td>{{ file.filename }}</td>
                    <td>{{ file.date }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ file.filepath }}" target="_blank" class="btn btn-secondary btn-block btn-sm text-nowrap">
                                <i class="fas fa-download mr-1"></i> Download
                            </a>
                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm btn-secondary edit-actions__dropdown-toggler dropdown-toggle dropdown-toggle-split"><span class="sr-only">Toggle Dropdown</span></button>
                            <div class="edit-actions__dropdown dropdown-menu dropdown-menu-right">
                            <a href="/bolt/exporter/delete?filename={{ file.filename }}" target="_blank" class="dropdown-item">
                                <i class="fas fa-trash"></i> Delete
                            </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
