{% extends '@bolt/_base/layout.html.twig' %}

{% block title %}{% endblock %}
{% block main %}
    <h1 class="admin__header--title"><i class="fas fa-fw fa-file-export"></i> Interface Exporter</h1>
    <p>Welcome to our exporter.</p>
{% endblock %}
