<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>MM Content Builder: Welcome</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <p>This site does not contain a front end.  Please log into the backend to use it.</p>
    </body>
</html>
